*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.menu{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    list-style: none;
    align-items: center; 
}
.menu ul{
    margin-left: -190px;
    display: flex;
    list-style: none;
}
.menu li{
    list-style: none;
    margin-right: 20px;
    color: #667085;
}
.menu li a{
    text-decoration: none;
    color: #667085;
    transition: 0.5s;
}
.menu li a:hover{
    color: #8E2424;
}

.cadastro{
    display: flex;
    margin-right: -20px;
}
.icone{
    display: flex;
    align-items: center;
}
.icone img{
    margin-right: 10px;
}
.cadastrar{
    height: 30px;
    width: 112px;
    border-radius: 8px;
    background-color:#8E2424;
    color: aliceblue;
    transition: 0.5s;
    cursor: pointer;
}
.cadastrar:hover{
    background-color: aliceblue;
    color: #8E2424;
}
.entrar{
    cursor: pointer;
    height: 30px;
    width: 112px;
    border-radius: 8px;
    margin-right: 20px;
    background-color: white;
    color: #667085;
    transition: 0.5s;
}
.entrar:hover{
    color: #8E2424;
}
.cabeçalho{
    width: 100%;
    height: 360px;
    margin-top: 10px;
    padding-top: 48px;
}
.cabeçalho div :nth-child(1){
    font-size: 17px;
    color: #8E2424;
    margin-bottom: 18px;
}
.cabeçalho div :nth-child(2){
    font-size: 48px;
    margin-bottom: 30px;
}
.cabeçalho div :nth-child(3){
    margin-left: 50px;
    color: #667085;
    font-size: 20px;
}
.cabeçalho div {
    text-align: center;
    
}
/*section1*/
.section1{
    width: 100%;
    height: 288px;
}
.container1{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
}
.container1 div :nth-child(1){
    color: #8E2424;
    font-size: 51px;
}
.container1 div :nth-child(3){
  color: #667085;
  margin-top: 10px;
}
/*section2*/
.section2{
    width: 100%;
    padding-top: 50px;
}
.texto2{
  text-align: center;
}
.texto2 :nth-child(1) {
    margin-left: 45%;
    border-radius: 15px;
    width: 100px;
    background-color: rgb(240, 220, 220);
    color: #8E2424;
    margin-bottom: 16px;
}
.texto2 :nth-child(2){
    font-size: 36px;
    margin-bottom: 16px;
}
.texto2 :nth-child(3){
    color: #667085;
    font-size: 22px;
    margin-bottom: 70px;
}
.imagem{
    margin-left: 10%;
    width: 80%;
    background-size: contain;
    background-image: url(img/Image2vagas.jpg);
    height: 333px;
    background-repeat: no-repeat;
}
.aside1{
    margin-top: 40px;
    width: 100%;
}
.section-cargos{
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
}
.cargos1 div{
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(132, 132, 132);
}
.cargos2 div{
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(132, 132, 132);
}
.cargos1 div :nth-child(1){
    margin-bottom: 20px;
}
.cargos2 div :nth-child(1){
    margin-bottom: 20px;
}
.p1{
    margin-left: 20px;
}
.cargos1 div :nth-child(2){
    color: #667085;
}
.cargos2 div :nth-child(2){
    color: #667085;
}
.avaliaçao{
    margin-top: 10px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}
.div-avaliaçao{
    height: 300px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background-color: #f6e4e4;
}
.div-avaliaçao :nth-child(1){
    color: #8E2424;
    margin-bottom: 20px;
    margin-top: 30px;
}
.div-avaliaçao :nth-child(2){
    margin-bottom: 25px;
}
.div-avaliaçao :nth-child(5){
    color: #667085;
    margin-top: 10px;
}
#input-cadastro{
    border: 1px solid  #a1a3a8;
    padding: 10px;
    color: #667085;
    border-radius: 7px;
    width: 250px;
    height: 33px;
    margin-left: 50px;
}
footer{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.do-footer :nth-child(1){
    margin-bottom: 20px;
    margin-top: 30px;
}
.do-footer h2{
    font-size: 30px;
}
.p-footer{
  color: #667085;
  margin-left: 25px;
  font-size: 18px;
}
.do-footer :nth-child(4){
    font-size: 13px;
    margin-left: 88px;
    color: #667085;
}
.menu-mobile{
   width: 100%;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #8E2424;
   margin-top: -50px;
}
.menu-mobile li a{
    text-decoration: none;
    color: #ffffff;
}
.menu-mobile li{
   list-style:none;
   margin: 10px;
   font-size: 20px;
}

@media screen and (max-width: 960px) {
    .icon1{
        display: none;
    }
    .optimus{
        display: none;
    }
    .container1{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
       
    }
    .section1{
        display: flex;
        flex-direction: column;
    }
    .section2{
        display: flex;
        flex-direction: column;
        margin-top: 250px;
        width: 100%;
    }
    .imagem{
        margin-bottom: -150px;
        width: 80%;
    }
    .menu-pc li{
        display: none;
    }
    .do-footer{
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .cadas1{
        display: none;
    }
  }
  @media screen and (min-width: 870px){
    .menu-mobile{
        display: none;
    }
  }